/*/*.idea*
/*/*.class
/*/*.iml
/*/*/*.idea
/*/*/*.class
/*/*/*.iml
/*/.project
/*/.classpath
/*/.factorypath
/*/.settings
/*/target
/*/*/.project
/*/*/.classpath
/*/*/.factorypath
/*/*/.settings
/*/*/target
/*/*/*/.project
/*/*/*/.classpath
/*/*/*/.factorypath
/*/*/*/.settings
/*/*/*/target
*.idea*
*.class
*.iml
*.pid
*/target/*
target/*
*/target

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.h2

### IntelliJ IDEA1 ###
.idea
*.iws
*.iml
*.ipr
*.log
*.zip
*.jks
*.cer
*.pid
### my ###
*.ftr